target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse et Spring Tool Suite
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# Visual Studio Code
.vscode/

# Fichiers système
.DS_Store
Thumbs.db
